.container{

    border: solid var(--red-6) var(--border-size-2);
    padding: var(--size-3);
}
.header{
    font-size: var(--font-size-4);
}
.list{
    padding: 0;
    margin: 0;
    width: 100%;
    border: solid var(--red-6) var(--border-size-2);

}
.listItem{
    list-style: none;
    padding: 0;
display: flex;
justify-content: space-between;
text-align: center;
}

.fileTypes__button_group{
    display: flex;
    justify-content:  flex-start;
    gap: var(--size-3);
    
}