.container{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    /* border: solid 1px; */
    overflow-y: hidden;
}

.btn{

    margin-inline: .5rem;
}
.header{
    margin: .5rem;
    text-align: center;
}

.list{
    max-height: 100%;
    overflow-y: scroll;
}

.listItem{
    font-size: .9rem;
    margin: .5rem;
    padding: .4rem;
    background-color: hsl(0, 11%, 26%);
    cursor: pointer;;
    border-radius: 4px;
}

.input{
    max-width: 100%;
    background-color: inherit;
    border: none;
    color: inherit;
}