li{
    list-style: none;
}

.hidden{
    color: var(--red-3);
    position: relative;
    text-decoration: line-through;
}
.hidden::before{
    content: 👎;
}

.active{
    color: var(--orange-3);
}

h1,h2,h3,h4,h5,h6{
    font-size: 1.5rem;
}