.recursiveFolder {
  /* background-color: aqua; */

  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.list{
  max-inline-size: 100%;
  list-style: none;
  /* border:solid 1px rebeccapurple; */
  padding: 0 1rem ;
}

.file{
  display:flex;
  color:var(--green-6);
  /* border:solid 1px lightblue */
}
.recursiveFolder{
  
  color:var(--orange-5);
}
.none{
list-style: none;
}