.header {
  background: var(--grape-9);
  padding-block: var(--size-3);
}
.nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
}
.mainList {
  display: flex;
  gap: var(--size-3);
  padding: 0;
}

.mainNav__item {
  list-style: none;
}
.mainNav__link {
  color: var(--cyan-1);
  text-decoration: none;
  color: var(--grape-0);

  &:visited {
    color: var(--grape-0);
  }

  &:hover {
    color: var(--grape-2);
  }
}
.btn {
  background-color: inherit;
  background-color: var(--grape-7);
  color: white;
padding-block: 0;
  &:hover{

  }
}
