.isScanning{
    background: var(--gray-8);
}

.active{
    color:var(--orange-3)
}

.btnGroup{
    display: flex;
    gap: var(--size-3);

}

.listItem{
    display: flex;
    border: solid 1px;
}
.reScanSpin{
    
    animation: var(--animation-spin);
    /* border: solid 1px; */
    width: fit-content;
    
    &:before{
        content:'🐬'
    }

}