.bar {
  /* position: relative; */
  width: 4px;
  height: 100%;
  border-right: solid 2px  var(--grape-9);
  background-color: var(--gray-9);
  cursor: inherit;
  /* cursor: w-resize; */
  /* cursor: grabbing; */
  cursor: ew-resize;
  transition: border-right .1s ease-out;

  &:hover {
     border-right: solid 4px  var(--grape-9);


  }

}

@keyframes grow {
  from {
    width: 2px;
  }

  
  to {
    width: 4px;
  }
}
