.bar {
  /* position: relative; */
  width: 10px;
  height: 100%;
  border-right: solid 0 var(--grape-9);
  background-color: var(--grape-9);
  cursor: inherit;
  cursor: ew-resize;
  transition: border-right .1s ease-out;

  &:hover {
    /* border-right: solid 6px  var(--green-9); */
      background-color: var(--green-9);
  }

  &:active{
    cursor: grabbing  ;
  }
  
}

/* 
@keyframes grow {
  from {
    width: 2px;
  }

  
  to {
    width: 4px;
  }
} */
