.container {
  --left-panel:100px;

  width: 100%;
  height: 100%;

  /* background-color: aqua; */
  display: grid;
  grid-template-columns: var(--left-panel) 5px 1fr 5px var(--right-panel);

  &:active {
    cursor: ew-resize;
  }
}

.divider {
  background-color: var(--pink-8);
  width: 100%;
  border-inline: solid var(--gray-9) 2px;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: ew-resize;
    border-inline: solid var(--gray-9) 0;
  }
}

.divider:active {
}
/* @keyframes grow {
  from{


  }
} */
